body {
    font-family: "Serif", serif;
    background-color:cornflowerblue;
    color:black;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.contenedor {
    background-color: cornsilk;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 600px;
}


.error h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: crimson;
}


.regreso p {
    font-size: 18px;
    margin-bottom: 25px;
    color: gray;
}


.regreso a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    background-color: lightskyblue;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 2px solid lightskyblue;
}


.regreso a:hover {
    background-color: rgb(63, 65, 68);
    border-color:darkgrey;
    color: whitesmoke;
}


.regreso a:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(33, 102, 177, 0.5);
}